<div>Sandbox component 1</div>

<div>&nbsp;</div>

<div>
    <ext-button
            text="My Button 1"
            shadow="true"
            arrowAlign="bottom">
    </ext-button>
</div>

<div>&nbsp;</div>

<div>
    <a href="http://localhost:8080/sandbox/">http://localhost:8080/sandbox/ - App entrypoint</a><br>
    <a href="http://localhost:8080/sandbox/rest/tickets">http://localhost:8080/sandbox/rest/tickets - jax-rs example</a><br>
    <a href="http://localhost:8080/sandbox/test-with-ewc.jsp">http://localhost:8080/sandbox/test-with-ewc.jsp - jsp example-</a><br>
</div>
